button {
    background-color: #EE6C4D;
    color: #ffffff;
    border-radius: 4vw;
    padding: 2vw;
    text-decoration: none;
    font-size: 4.5vw;
    border: none
}

i {
    font-size: 2.8vw;
    background-color: #FBFFDC;
}


textarea {
    background-color: #FBFFDC;
    font-size: 5vw;
    border: 0.5vw solid #EE6C4D;
    margin-bottom: 2vw;
    /* margin-top: 1vw; */
    border-radius: 2vw;
    padding: 3vw;
    /* margin-left: -1vw; */
    width: inherit;
}


form {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    
    /* padding: 4px; */
}

#sendButton {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


#feedback {
    margin-top: 3vw;
    margin-bottom: 3vw;
    
}

#forSendButton {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}