{% extends 'app_kibershop/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/kibershop_styles/catalog_style.css' %}?v=1.0.1">
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<body>
  {% include 'app_kibershop/notifications.html' %}
  <section id="fixedCartSection">
    <p id="productInCartCount">{% if carts.total_quantity %}{{ carts.total_quantity }}{% else %}0{% endif %}</p>
    <a href="{% url 'app_kibershop:cart' %}" id="fixedCartButton">
      <img src="{% static 'img/kibershop/cart_logo.png' %}" id="fixedCartButtonImg" alt="Корзина">
    </a>
  </section>
  <section id="kibershopText">
    <h1 style="color: #01524C">K</h1>
    <h1 style="color: #E2F07E">L</h1>
    <h1 style="color: #FFBEE4">i</h1>
    <h1 style="color: #EE6C4D">K</h1>
    <h1 style="margin-left: 20px">маркет</h1>
  </section>

  <section class="productListSection">
    {% if running_line_text %}
    <div style="margin-top: -3vw; margin-bottom: 2vh; width: 100vw;" id="warning">
      <p class="warningText">{{ running_line_text }}</p>
    </div>
    {% endif %}
    {% for category in categories %}
    <section class="sectionTitle">
      <span>{{ category.name }}</span>
    </section>
    <section class="productsSection">
      <div class="productsRow" style="display: grid; grid-template-columns: repeat(2, 1fr);">
        {% for product in category.product_set.all %}
        {% if product.in_stock %}
        <form action="{% url 'app_kibershop:add_to_cart' product.id %}" method="post">
          {% csrf_token %}
          <div class="productCard">
            <img src="{{ product.image.url }}" class="productImg" alt="{{ product.name }}">
            <section class="productInfo">
              <section class="productInfoText">
                <p class="productName">{{ product.name }}</p>
                <p class="productPrice">{{ product.price }}К</p>
              </section>
              <section class="buttonsRowSection">
                <button class="cartButton" id="cartButton"><img src="{% static 'img/kibershop/cart_logo.png' %}"
                    class="iconImg" alt="Корзина"></button>
              </section>
            </section>
          </div>
        </form>
        {% endif %}
        {% endfor %}
      </div>
    </section>
    {% endfor %}
  </section>

</body>

{% endblock %}



{% block footer %}

{% endblock %}